<header>
    <div class="account">
			<h1>THE FITRAH</h1>
    </div>
	<div class="user-wrapper">
		<h2></h2>
		<div class="sign-out">
			<form asp-controller="Account" asp-action="Logout" method="GET">
				<button type="submit" id="logout"> Keluar</button>
			</form>
		</div>
	</div>
</header>