<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitrah</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/font-awesome.css" />
    <script src="~/js/site.js" defer></script>
    
</head>
<body class="main-body">
    <partial name = "_header"></partial>
    <partial name = "_nav"></partial>
    <main>
            @RenderBody()
    </main>
    <div class="modal-layer" id="soon">
	<div class="popup-dialog">
		<p>
			Maaf, fitur ini belum dibuat :)
		</p>
		<div class="close-soon-button">
			<a class="blue-button" id="close-soon">Tutup</a>
		</div>
	</div>
</div>
</body>
</html>