<div class="nav">
    <a class="dashboard" asp-controller="Dashboard" asp-action="Index">
        <span>Beranda</span>
    </a>
    <a class="history" asp-controller="History" asp-action="Index">
        <span>Riwayat</span>
    </a>
    <a class="recap" asp-controller="Recap" asp-action="Index">
        <span>Rekapitulasi</span>
    </a>
</div>